body {
    font-family: 'Roboto', sans-serif;
    border: none;
    margin: 0;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #363958;
    margin: 0;
}

p {
    color: #3E3E3E;
    line-height: 30px;
}

.nav {
    float: right;
    padding: 1% 6%;
}

.nav a {
    color: #3C3C3C;
    text-decoration: none;
    display: inline;
    font-weight: 500;
    padding: 5px;
}

.des {
    padding-right: 40%;
    padding-bottom: 3%;
}

.name-highlight {
    color: #FF8367;
}

.intro {
    height: 600px;
}

.half-width {
    width: 40%;
    float: left;
    padding: 2% 5%;
}

#intro-img1 {
    margin-top: 20%;
}

#intro-txt1 {
    width: 100%;
    margin-top: 15%;
}

#intro-txt2 {
    width: 100%;
    margin-top: 15%;
}
#intro-txt2 h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    color: #363958;
}
.intro img {
    width: 80%;
}

.work {
    margin-top: 38%;
    background-color: #f0f0f0;
    height: 900px;
}

.work h2 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 48px;
}

.work h3 {
    font-size: 24;
    font-weight: bold;
    color: #363958;
}

.works {
    padding: 3% 7%;
    width: 100%;
}

.sep30 {
    box-shadow: 5px 5px 20px gray;
    border-radius: 20px;
    background-color: white;

    width: 25%;
    float: left;
    padding: 1%;
    margin: 1%;
}

.works img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, #FF8063, #F46060);
    padding: 10px 20px;
}

.contact {
    margin-top: 5%;
}
.contact h3 {
    text-align: center;
    margin: 5% 0 1% 0;
    color: #696871;
    font-size: 24;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
}
.contact h2 {
    text-align: center;
    margin: 1% 0;
    color: #363958;
    font-size: 36;
    font-weight: bold;
}

#chat {
    position: relative;
    text-align: center;
    color: white;
}

#chat-center-txt {
    position: absolute;
    top: 30%;
    right: 53%;
}

#chat-center-btn {
    position: absolute;
    top: 35%;
    right: 30%;
}

#chat h1 {
    font-size: 64px;
    color: #fff;

}

#chat button {
    background: linear-gradient(90deg, #FF8063, #F46060);
    border-radius: 8px;
    padding: 18px 24px;
    float: left;
    color: #fff;
    font-weight: 600;
    display: inline;
    border: none;
}
#social {
    margin-bottom: 2%;
    text-align: center;
}
#social img {
    width: 40px;
    padding: 5px;
}